<div class="container">
    <h1>Webbutveckling - Ramschema</h1>

    <div class="filter">
        <label for="filter">Sök:</label>
        <input type="text" id="filter" [(ngModel)]="filterValue" (input)="applyFilter()" placeholder="Sök efter kurskod eller kursnamn">
    </div>

    @if(filteredCourselist.length == 0) {
    <p>Inga kurser hittades...</p>
    }


    <table>
        <thead>
            <tr>
                <th (click)="sortByCode()" scope="col">Kod</th>
                <th (click)="sortByName()" scope="col">Kursnamn</th>                
                <th (click)="sortByProgression()" scope="col">Progr.</th>
                <th scope="col">Kursplan</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" *ngFor="let course of filteredCourselist">            
                <td>{{ course.code }}</td>
                <td>{{ course.coursename }}</td>
                <td>{{ course.progression }}</td>
                <td><a [href]="course.syllabus">Kursplan</a></td>
            </tr>
        </tbody>
    </table>
    <p>&copy; Jonas Ståleker</p>
</div>

